extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        
        h1 Carla Houston

        
        p.lead.text-light
          | Full Stack JavaScript Developer.

        
        .portfolio-bio
          p
            | My name is Carla Houston, I'm an Apprentice at Verizon working as a Full Stack Software Developer. 
            | My primary responsiblities include designing user interaction on websites, developing 
            | servers and databases for website functionality and coding for mobile platforms. 
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

       
        ul
          li Express
          li Full Stack JavaScript
          li Node
          li CSS
          li J Query 
          li Node
        h6 Contact Info

        
        ul
          li 469-569-4197
          li carla.houston@hotmail.com

        
        
        a.button.expanded(href='https://github.com/mignonne87') GitHub
        
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  